---
// Panel Privado de Check-in (Ruta protegida para Staff)
import AdminLayout from '../../layouts/AdminLayout.astro';
import CheckinScanner from '../../components/CheckinScanner';
---

<AdminLayout title="Escaner de Boletos">
  <div class="flex-1 flex flex-col items-center pt-8">
    <CheckinScanner client:only="react" />
  </div>
</AdminLayout>
