---
import AdminLayout from '../../layouts/AdminLayout.astro';
import AdminDashboard from '../../components/AdminDashboard';
---

<AdminLayout title="Estadísticas de Conferencia">
  <div class="flex-1">
    <AdminDashboard client:load />
  </div>
</AdminLayout>
