---
// src/pages/admin/registro-manual.astro
import AdminLayout from '../../layouts/AdminLayout.astro';
import ManualRegistrationForm from '../../components/ManualRegistrationForm';
---

<AdminLayout title="Registro Manual Staff">
  <main class="flex-1 flex flex-col items-center px-4 mt-4">
    <ManualRegistrationForm client:only="react" />
  </main>
</AdminLayout>
